.u-center-btn {
	text-align: center;
	width: 60%;
}

.u-margin-top {
	margin-top: 4rem;
}

.u-margin-top-sm {
	margin-top: 2rem;
}

.u-margin-bottom {
	margin-bottom: 4rem;
}

.u-margin-left {
	margin-left: 7rem;
}

.u-margin-left-small {
	@media only screen and (max-width: $bp-medium) {
		margin-left: 5rem;
	}

	@media only screen and (max-width: $bp-small) {
		margin-left: 20rem;
	}
}

.u-width-small {
	width: 18rem;
}
