.u-center-btn {
	text-align: center;
	width: 60%;
}

.u-margin-top {
	margin-top: 4rem;
}

.u-margin-top-sm {
	margin-top: 2rem;
}

.u-margin-bottom {
	margin-bottom: 4rem;
}

.u-margin-left {
	margin-left: 10rem;
}
