$color-primary: #3d3d3d;

$color-secondary-green: #509437;
$color-secondary-green-dark: #41772d;

$color-secondary-red: #c55c51;
$color-secondary-yellow: #b4c008;

$color-white: #fffcfc;
$color-black: #00000029;
$color-max-black: #00000050;

$color-grey-light: #e1e1e1;
$color-grey-dark: #cdcdcd;

// Responsive Breakpoints

$bp-huge: 112em; // 1800px+
$bp-largest: 84em; // 1350px
$bp-larger: 75em; // 1200px
$bp-large: 68.75em; //1100px
$bp-medium: 59em; // 950px
$bp-low-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 28em; // 450px
