.u-center-btn {
  text-align: center;
  width: 60%;
}

.u-margin-top {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.u-margin-left {
  margin-left: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: #3d3d3d;
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90vh (min-content)[6];
      grid-template-rows: 90vh repeat(6, -webkit-min-content);
      grid-template-rows: 90vh repeat(6, min-content);
  -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] ([col-start] minmax(min-content, 16rem) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 16rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
}

.container section {
  padding: 10rem 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.heading-1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #c55c51;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 500;
}

.heading-2--red {
  color: #c55c51;
}

.heading-2--white {
  color: #fffcfc;
}

.heading-3 {
  font-size: 2.25rem;
  font-weight: 400;
  color: #fffcfc;
}

.heading-4 {
  font-size: 2rem;
  color: #e1e1e1;
  font-weight: 200;
}

p {
  color: #e1e1e1;
  line-height: 1.5;
}

.p--small {
  font-size: 1.6rem;
}

.p--large {
  font-size: 2.3rem;
}

.btn__header:link, .btn__header:visited {
  padding: 1.2rem 15rem;
  text-decoration: none;
  border: 2px solid #509437;
  border-radius: 10rem;
  background-color: #3d3d3d;
  color: rgba(205, 205, 205, 0.2);
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn__header:link:focus, .btn__header:visited:focus {
  outline: none;
}

.btn__header:link:hover, .btn__header:visited:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn__header:link:active, .btn__header:visited:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.circle {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 2px solid #509437;
  border-radius: 50%;
}

.circle--white {
  border: 2px solid #fffcfc;
}

.circle--header {
  width: 7rem;
  height: 7rem;
  position: absolute;
  border: 2px solid #E1E1E1;
  opacity: 0.3;
  top: 9.25rem;
  left: 12.5rem;
}

.circle--header-2 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  border: 2px solid #E1E1E1;
  opacity: 0.3;
  top: 9.25rem;
  left: 37.5rem;
}

.project {
  border: 0.4rem solid #509437;
  border-radius: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem 1fr 12rem 10rem;
      grid-template-rows: 10rem 1fr 12rem 10rem;
  grid-gap: 3rem;
      grid-template-areas: 'title title' 'project project' 'content content' 'github github';
}

.project h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  padding: 5rem 3rem;
}

.project .btn__project {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: project;
  text-decoration: none;
  padding: 2.5rem 1.5rem;
  background-color: #509437;
  font-size: 1.6rem;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
          clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
  color: #fffcfc;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.project .btn__project:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #41772d;
}

.project__grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% minmax(20rem, max-content);
      grid-template-columns: 10% minmax(20rem, -webkit-max-content);
      grid-template-columns: 10% minmax(20rem, max-content);
  grid-gap: 1.5rem;
  margin-left: 2rem;
}

.project__grid .circle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project__grid .p--small {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
}

.project .btn__github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-decoration: none;
  padding: 2.5rem 1.5rem;
  background-color: #00000029;
  font-size: 1.6rem;
  color: #c55c51;
  text-align: right;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.project .btn__github:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #00000050;
}

.skill__circle {
  width: 9rem;
  height: 9rem;
  border: 2px solid #b4c008;
  border-radius: 100px;
  position: relative;
}

.skill__icon {
  height: 7rem;
  width: 7rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__circle {
  height: 17rem;
  width: 17rem;
  border: 2px solid #e1e1e1;
  border-radius: 100px;
  position: relative;
}

.experience__icon {
  height: 9rem;
  width: 9rem;
  color: #e1e1e1;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #00000029;
  grid-column: full-start / full-end;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7rem;
}

.header__name h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4rem;
}

.header__content {
  width: 65%;
}

.header__content p {
  width: 65%;
}

.header__img {
  height: 40rem;
  padding: 1rem;
  border: 3px solid #509437;
  border-radius: 50%;
}

.skills {
  padding: 10rem 0;
  background-color: #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.projects-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35rem);
  grid-gap: 10rem;
}

.intro {
  grid-column: center-start / center-end;
}

.intership {
  grid-column: center-start / center-end;
}

.projects-section {
  grid-column: center-start / center-end;
}

.skills-section {
  grid-column: full-start / full-end;
  margin: 1rem;
}

.courses {
  grid-column: center-start / center-end;
}

.education {
  grid-column: center-start / center-end;
}
/*# sourceMappingURL=main.css.map */