.u-center-btn {
  text-align: center;
  width: 60%;
}

.u-margin-top {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.u-margin-left {
  margin-left: 7rem;
}

@media only screen and (max-width: 59.5em) {
  .u-margin-left-small {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .u-margin-left-small {
    margin-left: 20rem;
  }
}

.u-width-small {
  width: 18rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: #3d3d3d;
  font-size: 62.5%;
}

@media only screen and (max-width: 84em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (min-width: 93.75em) {
  html {
    font-size: 67.5%;
  }
}

@media only screen and (min-width: 115em) {
  html {
    font-size: 82.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70rem (min-content)[6];
      grid-template-rows: 70rem repeat(6, -webkit-min-content);
      grid-template-rows: 70rem repeat(6, min-content);
  -ms-grid-columns: [full-start] 8rem [center-start] ([col-start] minmax(min-content, 16rem) [col-end])[8] [center-end] 8rem [full-end];
      grid-template-columns: [full-start] 8rem [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 16rem) [col-end]) [center-end] 8rem [full-end];
      grid-template-columns: [full-start] 8rem [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] 8rem [full-end];
}

@media only screen and (max-width: 37.5em) {
  .container {
    -ms-grid-rows: 90rem (min-content)[6];
        grid-template-rows: 90rem repeat(6, -webkit-min-content);
        grid-template-rows: 90rem repeat(6, min-content);
  }
}

.container section {
  margin: 12rem 0;
}

@media only screen and (max-width: 59.5em) {
  .container section {
    margin: 15rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .container section {
    margin: 18rem 0;
  }
}

.intro {
  grid-column: center-start / center-end;
}

.intership {
  grid-column: center-start / center-end;
}

.projects-section {
  grid-column: center-start / center-end;
}

.skills-section {
  grid-column: full-start / full-end;
}

@media only screen and (min-width: 84em) {
  .skills-section {
    grid-column: center-start / center-end;
  }
}

.courses {
  grid-column: center-start / center-end;
}

.education {
  grid-column: center-start / center-end;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.8rem;
  color: #e1e1e1;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 28em) {
  body {
    font-size: 4rem;
  }
}

.heading-1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #c55c51;
}

@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 6rem;
  }
}

.heading-2 {
  font-size: 3rem;
  font-weight: 500;
  color: #b4c008;
}

@media only screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 5rem;
  }
}

.heading-2--red {
  color: #c55c51;
}

.heading-2--white {
  color: #fffcfc;
}

@media only screen and (max-width: 28em) {
  .heading-2--small {
    font-size: 4.5rem;
  }
}

.heading-3 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fffcfc;
}

@media only screen and (max-width: 37.5em) {
  .heading-3 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 28em) {
  .heading-3 {
    font-size: 4.5rem;
  }
}

.heading-4 {
  font-size: 2.25rem;
  color: #b4c008;
  font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
  .heading-4 {
    font-size: 3.25rem;
  }
}

@media only screen and (max-width: 28em) {
  .heading-4 {
    font-size: 4.25rem;
  }
}

.heading-4--grey {
  color: #e1e1e1;
  font-weight: 200;
}

.heading-4--white {
  color: #fffcfc;
  font-weight: 400;
}

.p--red {
  color: #c55c51;
  font-weight: 500;
}

.p--light {
  font-weight: 100;
  color: rgba(225, 225, 225, 0.75);
}

.p--large {
  font-size: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .p--large {
    font-size: 3.25rem;
  }
}

@media only screen and (max-width: 28em) {
  .p--large {
    font-size: 4.25rem;
  }
}

@-webkit-keyframes moveDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px) scale(1.3, 1.3);
            transform: translateY(-150px) scale(1.3, 1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px) scale(1.3, 1.3);
            transform: translateY(-150px) scale(1.3, 1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveCenter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px) scale(1.5, 1.5);
            transform: translateX(250px) scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveCenter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px) scale(1.5, 1.5);
            transform: translateX(250px) scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn {
  text-decoration: none;
  padding: 2.5rem 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .btn {
    font-size: 2.75rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 28em) {
  .btn {
    font-size: 3.25rem;
  }
}

.btn__project {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: project;
  background-color: #509437;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
          clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
  color: #fffcfc;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@media only screen and (max-width: 37.5em) {
  .btn__project {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 40% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 40% 0%);
  }
}

.btn__project:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #41772d;
}

.btn__github, .btn__course {
  background-color: #00000029;
  color: #c55c51;
  text-align: right;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn__github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
}

@media only screen and (max-width: 37.5em) {
  .btn__github {
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 45% 0%, 65% 100%);
            clip-path: polygon(100% 100%, 100% 0%, 45% 0%, 65% 100%);
  }
}

.btn__github:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #00000050;
}

.btn__course {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 45% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 45% 50%);
  margin-top: 3rem;
}

@media only screen and (max-width: 59.5em) {
  .btn__course {
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 15% 50%);
            clip-path: polygon(100% 0%, 100% 100%, 15% 50%);
  }
}

@media only screen and (max-width: 37.5em) {
  .btn__course {
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 50% 0%, 50% 100%);
            clip-path: polygon(100% 100%, 100% 0%, 50% 0%, 50% 100%);
  }
}

.btn__course:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #00000050;
}

.school {
  height: 35rem;
  width: 35rem;
  border: 3px solid #509437;
  border-radius: 50%;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .school {
    border-radius: 10px;
    width: 58rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 28em) {
  .school {
    width: 72.5rem;
    height: 45rem;
  }
}

.school__side {
  height: 35rem;
  width: 35rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
}

@media only screen and (max-width: 37.5em) {
  .school__side {
    width: 58rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 28em) {
  .school__side {
    width: 72.5rem;
    height: 45rem;
  }
}

.school__side--front {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15rem 6rem 3rem;
      grid-template-rows: 15rem 6rem 3rem;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  opacity: 1;
}

@media only screen and (max-width: 37.5em) {
  .school__side--front {
    -ms-grid-rows: 15rem 9rem 6rem;
        grid-template-rows: 15rem 9rem 6rem;
  }
}

.school__side--back {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 5rem 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.school:hover .school__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.school:hover .school__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

.school__p {
  font-weight: 200;
}

.school__icon-1 {
  height: 8rem;
  width: 8rem;
}

.school__icon-2 {
  height: 12rem;
  width: 12rem;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 2.5px solid #509437;
  border-radius: 50%;
}

@media only screen and (max-width: 37.5em) {
  .circle {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid #509437;
  }
}

@media only screen and (max-width: 28em) {
  .circle {
    width: 3rem;
    height: 3rem;
  }
}

.circle--white {
  border: 2px solid #fffcfc;
}

.course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 2fr;
      grid-template-columns: 25rem 2fr;
}

@media only screen and (max-width: 59.5em) {
  .course {
    -ms-grid-columns: 27.5rem 2fr;
        grid-template-columns: 27.5rem 2fr;
  }
}

@media only screen and (max-width: 50em) {
  .course {
    -ms-grid-columns: minmax(50rem, 120rem) 1.5fr;
        grid-template-columns: minmax(50rem, 120rem) 1.5fr;
    -ms-grid-rows: 25rem;
        grid-template-rows: 25rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .course {
    -ms-grid-columns: 150rem 3fr;
        grid-template-columns: 150rem 3fr;
    -ms-grid-rows: 35rem;
        grid-template-rows: 35rem;
  }
}

@media only screen and (max-width: 28em) {
  .course {
    -ms-grid-rows: 57rem;
        grid-template-rows: 57rem;
  }
}

.course:not(:last-child) {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 28em) {
  .course:not(:last-child) {
    margin-bottom: 7.5rem;
  }
}

.course__img {
  width: 25rem;
}

@media only screen and (max-width: 59.5em) {
  .course__img {
    width: 27.5rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 50em) {
  .course__img {
    display: none;
  }
}

.course__content {
  display: -ms-grid;
  display: grid;
  border: 3px solid #fffcfc;
  border-radius: 3px;
  -ms-grid-rows: 6rem auto;
      grid-template-rows: 6rem auto;
  -ms-grid-columns: 2.5fr 1.5fr;
      grid-template-columns: 2.5fr 1.5fr;
      grid-template-areas: 'heading  heading' 'details  button';
}

@media only screen and (max-width: 59.5em) {
  .course__content {
    -ms-grid-columns: 3.5fr 1.5fr;
        grid-template-columns: 3.5fr 1.5fr;
  }
}

@media only screen and (max-width: 50em) {
  .course__content {
    -ms-grid-rows: 7rem auto;
        grid-template-rows: 7rem auto;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 37.5em) {
  .course__content {
    -ms-grid-rows: 10rem auto;
        grid-template-rows: 10rem auto;
  }
}

@media only screen and (max-width: 28em) {
  .course__content {
    -ms-grid-rows: 12rem auto;
        grid-template-rows: 12rem auto;
  }
}

.course__content .heading-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  margin: 2rem 3rem;
}

@media only screen and (max-width: 50em) {
  .course__content .heading-4 {
    margin: 2rem 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .course__content .heading-4 {
    margin: 3rem 6rem;
  }
}

.course__details {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: details;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 2fr;
      grid-template-columns: 15% 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__details .circle {
  -ms-grid-column-align: center;
      justify-self: center;
}

.course__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
}

.project {
  border: 0.5rem solid #509437;
  border-radius: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7rem 1fr 16rem 12rem;
      grid-template-rows: 7rem 1fr 16rem 12rem;
  grid-gap: 3rem;
      grid-template-areas: 'title title' 'project project' 'content content' 'github github';
}

@media only screen and (max-width: 68.75em) {
  .project {
    -ms-grid-rows: 7rem 1fr 18rem 14rem;
        grid-template-rows: 7rem 1fr 18rem 14rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .project {
    -ms-grid-rows: 12rem 1fr 35rem 16rem;
        grid-template-rows: 12rem 1fr 35rem 16rem;
    border: 0.7rem solid #509437;
  }
}

@media only screen and (max-width: 28em) {
  .project {
    -ms-grid-rows: 12rem 1fr 50rem 18rem;
        grid-template-rows: 12rem 1fr 50rem 18rem;
    border: 1rem solid #509437;
  }
}

.project h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  padding: 4rem 3rem;
}

.project__grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% minmax(20rem, 2fr);
      grid-template-columns: 10% minmax(20rem, 2fr);
  grid-row-gap: 1.5rem;
  margin-left: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill {
  width: 12rem;
  height: 12rem;
  position: relative;
  -webkit-perspective: 50rem;
          perspective: 50rem;
  border: 2px solid #b4c008;
  border-radius: 50%;
}

@media only screen and (max-width: 59.5em) {
  .skill {
    width: 11rem;
    height: 11rem;
    -webkit-perspective: 30rem;
            perspective: 30rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .skill {
    width: 16rem;
    height: 16rem;
  }
}

@media only screen and (max-width: 28em) {
  .skill {
    width: 18rem;
    height: 18rem;
  }
}

.skill__side {
  width: 12rem;
  height: 12rem;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 59.5em) {
  .skill__side {
    width: 11rem;
    height: 11rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .skill__side {
    width: 16rem;
    height: 16rem;
  }
}

@media only screen and (max-width: 28em) {
  .skill__side {
    width: 18rem;
    height: 18rem;
  }
}

.skill__side--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media only screen and (max-width: 68.75em) {
  .skill__side--back {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
  }
}

.skill__icon {
  height: 7rem;
  width: 7rem;
  padding: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 68.75em) {
  .skill__icon {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .skill__icon {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (max-width: 28em) {
  .skill__icon {
    height: 12rem;
    width: 12rem;
    padding: 0.5rem;
  }
}

.skill .fa-star,
.skill .fa-star-half-alt {
  font-size: 1.25rem;
  padding: 0 0.2rem;
}

@media only screen and (max-width: 37.5em) {
  .skill .fa-star,
  .skill .fa-star-half-alt {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 28em) {
  .skill .fa-star,
  .skill .fa-star-half-alt {
    font-size: 2.5rem;
  }
}

.skill:hover .skill__side--front {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.skill:hover .skill__icon {
  height: 5rem;
  width: 5rem;
}

.skill:hover .skill__side--back {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 1;
}

@media only screen and (max-width: 68.75em) {
  .skill:hover .skill__side--front {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    opacity: 0;
  }
  .skill:hover .skill__side--back {
    -webkit-transform: rotatey(0);
            transform: rotatey(0);
    opacity: 1;
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% (minmax(min-content, 16rem))[4];
      grid-template-columns: 50% repeat(4, minmax(-webkit-min-content, 16rem));
      grid-template-columns: 50% repeat(4, minmax(min-content, 16rem));
  -ms-grid-rows: 12rem;
      grid-template-rows: 12rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media only screen and (max-width: 59.5em) {
  .nav {
    -ms-grid-columns: 60% (minmax(min-content, 16rem))[4];
        grid-template-columns: 60% repeat(4, minmax(-webkit-min-content, 16rem));
        grid-template-columns: 60% repeat(4, minmax(min-content, 16rem));
  }
}

@media only screen and (max-width: 37.5em) {
  .nav {
    -ms-grid-columns: 70% (minmax(min-content, 14rem))[4];
        grid-template-columns: 70% repeat(4, minmax(-webkit-min-content, 14rem));
        grid-template-columns: 70% repeat(4, minmax(min-content, 14rem));
  }
}

@media only screen and (max-width: 28em) {
  .nav {
    -ms-grid-columns: 60% (minmax(min-content, 18rem))[4];
        grid-template-columns: 60% repeat(4, minmax(-webkit-min-content, 18rem));
        grid-template-columns: 60% repeat(4, minmax(min-content, 18rem));
  }
}

.nav__item {
  width: 7rem;
  height: 7rem;
  position: relative;
  -webkit-perspective: 30rem;
          perspective: 30rem;
  border: 2px solid #509437;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 37.5em) {
  .nav__item {
    width: 9rem;
    height: 9rem;
  }
}

@media only screen and (max-width: 28em) {
  .nav__item {
    width: 11rem;
    height: 11rem;
  }
}

.nav__item:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 1.5rem 3rem rgba(1, 1, 1, 0.3);
          box-shadow: 0 1.5rem 3rem rgba(1, 1, 1, 0.3);
}

.nav__item:active {
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(1, 1, 1, 0.3);
          box-shadow: 0 0.75rem 1.5rem rgba(1, 1, 1, 0.3);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.nav__icon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .nav__icon {
    width: 7rem;
    height: 7rem;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 28em) {
  .nav__icon {
    width: 9rem;
    height: 9rem;
    padding: 2rem;
  }
}

.arrow {
  display: inline-block;
  padding: 0 1rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 28em) {
  .arrow {
    display: none;
  }
}

.arrow:hover {
  -webkit-transform: translateX(30px) scale3d(1.2, 1.2, 1.2);
          transform: translateX(30px) scale3d(1.2, 1.2, 1.2);
}

@media only screen and (max-width: 59.5em) {
  .arrow:hover {
    -webkit-transform: translateX(25px) scale3d(1.1, 1.1, 1.1);
            transform: translateX(25px) scale3d(1.1, 1.1, 1.1);
  }
}

@media only screen and (max-width: 50em) {
  .arrow:hover {
    -webkit-transform: translateX(0) scale3d(1, 1, 1);
            transform: translateX(0) scale3d(1, 1, 1);
  }
}

.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__circle {
  height: 17rem;
  width: 17rem;
  border: 2px solid #e1e1e1;
  border-radius: 100px;
  position: relative;
}

.experience__icon {
  height: 9rem;
  width: 9rem;
  color: #e1e1e1;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #00000029;
  grid-column: full-start / full-end;
  margin-top: 10rem;
  padding: 3rem 5rem;
}

@media only screen and (max-width: 28em) {
  .footer {
    padding: 6rem 3rem;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  width: 4rem;
  height: 4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7rem;
}

.header__name h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4rem;
}

.header__content {
  width: 65%;
}

.header__content p {
  width: 65%;
}

@media only screen and (max-width: 59.5em) {
  .header__content p {
    width: 75%;
  }
}

@media only screen and (max-width: 50em) {
  .header__content p {
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__content p {
    width: 80%;
  }
}

.header__img {
  height: 40rem;
  padding: 1rem;
  border: 3px solid #509437;
  border-radius: 50%;
  -webkit-animation: moveCenter 2.25s;
          animation: moveCenter 2.25s;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media only screen and (max-width: 37.5em) {
  .header__img {
    height: 45rem;
  }
}

@media only screen and (max-width: 28em) {
  .header__img {
    height: 55rem;
  }
}

.skills {
  padding: 10rem 0;
  background-color: #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem;
}

.projects-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (38rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 38rem);
  grid-gap: 5rem;
}

@media only screen and (max-width: 68.75em) {
  .projects-layout {
    -ms-grid-columns: (39rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 39rem);
    grid-gap: 5rem;
  }
}

@media only screen and (max-width: 59.5em) {
  .projects-layout {
    -ms-grid-columns: (38rem)[2];
        grid-template-columns: repeat(2, 38rem);
    grid-gap: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .projects-layout {
    grid-gap: 15rem;
    -ms-grid-columns: (57rem)[2];
        grid-template-columns: repeat(2, 57rem);
  }
}

@media only screen and (max-width: 28em) {
  .projects-layout {
    grid-gap: 12rem;
    -ms-grid-columns: (70rem)[2];
        grid-template-columns: repeat(2, 70rem);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7rem 1fr 50rem;
      grid-template-rows: 7rem 1fr 50rem;
  -ms-grid-columns: 2fr 2.5fr;
      grid-template-columns: 2fr 2.5fr;
      grid-template-areas: 'heading-1 heading-2' 'language communication' 'school university';
}

@media only screen and (max-width: 37.5em) {
  .grid {
    -ms-grid-rows: 10rem 1fr 55rem;
        grid-template-rows: 10rem 1fr 55rem;
  }
}

@media only screen and (max-width: 28em) {
  .grid {
    -ms-grid-rows: 12rem 1fr 65rem;
        grid-template-rows: 12rem 1fr 65rem;
    grid-column-gap: 5rem;
  }
}

.grid__education-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading-1;
}

.grid__education-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading-2;
}

.grid__language {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: language;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem max-content 7rem;
      grid-template-columns: 2rem -webkit-max-content 7rem;
      grid-template-columns: 2rem max-content 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .grid__language {
    grid-column-gap: 3rem;
  }
}

.grid__language .p--red {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid__communication {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: communication;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem minmax(min-content, max-content);
      grid-template-columns: 2rem minmax(-webkit-min-content, -webkit-max-content);
      grid-template-columns: 2rem minmax(min-content, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .grid__communication {
    -ms-grid-columns: 4rem minmax(min-content, max-content);
        grid-template-columns: 4rem minmax(-webkit-min-content, -webkit-max-content);
        grid-template-columns: 4rem minmax(min-content, max-content);
    grid-gap: 3rem;
  }
}

.grid__card-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: school;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}

.grid__card-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: university;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 37.5em) {
  .grid__card-2 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */