.u-center-btn {
  text-align: center;
  width: 60%;
}

.u-margin-top {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.u-margin-left {
  margin-left: 10rem;
}

.u-width-small {
  width: 18rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: #3d3d3d;
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90vh (min-content)[6];
      grid-template-rows: 90vh repeat(6, -webkit-min-content);
      grid-template-rows: 90vh repeat(6, min-content);
  -ms-grid-columns: [full-start] minmax(5rem, 1fr) [center-start] ([col-start] minmax(min-content, 16rem) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 16rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
}

.container section {
  padding: 10rem 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  color: #e1e1e1;
}

.heading-1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #c55c51;
}

.heading-2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #b4c008;
}

.heading-2--red {
  color: #c55c51;
}

.heading-2--white {
  color: #fffcfc;
}

.heading-3 {
  font-size: 2.25rem;
  font-weight: 400;
  color: #fffcfc;
}

.heading-4 {
  font-size: 2rem;
  color: #b4c008;
  font-weight: 500;
}

.heading-4--grey {
  color: #e1e1e1;
  font-weight: 200;
}

.heading-4--white {
  font-size: 2rem;
  color: #fffcfc;
  font-weight: 400;
}

.p--small-red {
  color: #c55c51;
  font-weight: 500;
}

.p--large {
  font-size: 2.3rem;
}

.btn {
  text-decoration: none;
  padding: 2.5rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn__header:link, .btn__header:visited {
  padding: 1.2rem 15rem;
  border: 2px solid #509437;
  border-radius: 10rem;
  background-color: #3d3d3d;
  color: rgba(205, 205, 205, 0.2);
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn__header:link:focus, .btn__header:visited:focus {
  outline: none;
}

.btn__header:link:hover, .btn__header:visited:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn__header:link:active, .btn__header:visited:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn__project {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: project;
  background-color: #509437;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
          clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
  color: #fffcfc;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn__project:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #41772d;
}

.btn__github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 30% 50%);
}

.btn__course {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 45% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 45% 50%);
  margin-top: 3rem;
}

.btn__github, .btn__course {
  background-color: #00000029;
  color: #c55c51;
  text-align: right;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn__github:hover, .btn__course:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  background-color: #00000050;
}

.card {
  height: 35rem;
  width: 35rem;
  border: 3px solid #509437;
  border-radius: 50%;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
}

.card__side {
  height: 35rem;
  width: 35rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
}

.card__side--front {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15rem 6rem 3rem;
      grid-template-rows: 15rem 6rem 3rem;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  opacity: 1;
}

.card__side--back {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 5rem 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__side .p-1 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__p {
  font-weight: 200;
}

.card__icon-1 {
  height: 8rem;
  width: 8rem;
}

.card__icon-2 {
  height: 12rem;
  width: 12rem;
}

.card:hover .card__side--front {
  opacity: 0;
}

.card:hover .card__side--back {
  opacity: 1;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 2.5px solid #509437;
  border-radius: 50%;
}

.circle--white {
  border: 2px solid #fffcfc;
}

.circle--header {
  width: 7rem;
  height: 7rem;
  position: absolute;
  border: 2px solid #E1E1E1;
  opacity: 0.3;
  top: 9.25rem;
  left: 12.5rem;
}

.circle--header-2 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  border: 2px solid #E1E1E1;
  opacity: 0.3;
  top: 9.25rem;
  left: 37.5rem;
}

.course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 2fr;
      grid-template-columns: 25rem 2fr;
}

.course:not(:last-child) {
  margin-bottom: 5rem;
}

.course__img {
  width: 25rem;
}

.course__content {
  display: -ms-grid;
  display: grid;
  border: 3px solid #fffcfc;
  border-radius: 3px;
  -ms-grid-rows: 5rem auto;
      grid-template-rows: 5rem auto;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
      grid-template-areas: 'heading  heading' 'details  button';
}

.course__content .heading-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  margin: 1rem 3rem;
}

.course__details {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: details;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 2fr;
      grid-template-columns: 15% 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__details .circle {
  -ms-grid-column-align: center;
      justify-self: center;
}

.course__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
}

.project {
  border: 0.4rem solid #509437;
  border-radius: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem 1fr 12rem 10rem;
      grid-template-rows: 10rem 1fr 12rem 10rem;
  grid-gap: 3rem;
      grid-template-areas: 'title title' 'project project' 'content content' 'github github';
}

.project h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  padding: 5rem 3rem;
}

.project__grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% minmax(20rem, max-content);
      grid-template-columns: 10% minmax(20rem, -webkit-max-content);
      grid-template-columns: 10% minmax(20rem, max-content);
  grid-gap: 1.5rem;
  margin-left: 2rem;
}

.project__grid .circle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project__grid .p--small {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
}

.skill {
  width: 12rem;
  height: 12rem;
  position: relative;
  -webkit-perspective: 20rem;
          perspective: 20rem;
  border: 2px solid #b4c008;
  border-radius: 50%;
}

.skill__side {
  width: 12rem;
  height: 12rem;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skill__side--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.skill__icon {
  height: 7rem;
  width: 7rem;
  padding: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skill .fa-star,
.skill .fa-star-half-alt {
  height: 2rem;
  width: 2rem;
}

.skill:hover .skill__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.skill:hover .skill__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__circle {
  height: 17rem;
  width: 17rem;
  border: 2px solid #e1e1e1;
  border-radius: 100px;
  position: relative;
}

.experience__icon {
  height: 9rem;
  width: 9rem;
  color: #e1e1e1;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #00000029;
  grid-column: full-start / full-end;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7rem;
}

.header__name h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4rem;
}

.header__content {
  width: 65%;
}

.header__content p {
  width: 65%;
}

.header__img {
  height: 40rem;
  padding: 1rem;
  border: 3px solid #509437;
  border-radius: 50%;
}

.skills {
  padding: 10rem 0;
  background-color: #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35rem);
  grid-gap: 10rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem 1fr;
      grid-template-rows: 5rem 1fr;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
      grid-template-areas: 'heading-1 heading-2' 'language communication';
}

.grid .heading-3--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading-1;
}

.grid .heading-3--2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading-2;
}

.grid__language {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: language;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (3rem)[autofit];
      grid-template-rows: repeat(autofit, 3rem);
  -ms-grid-columns: 3rem max-content 7rem;
      grid-template-columns: 3rem -webkit-max-content 7rem;
      grid-template-columns: 3rem max-content 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.grid__language .p--small-red {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid__communication {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: communication;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (3rem)[autofit];
      grid-template-rows: repeat(autofit, 3rem);
  -ms-grid-columns: 3rem max-content;
      grid-template-columns: 3rem -webkit-max-content;
      grid-template-columns: 3rem max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.school-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  grid-column: center-start / center-end;
}

.intership {
  grid-column: center-start / center-end;
}

.projects-section {
  grid-column: center-start / center-end;
}

.skills-section {
  grid-column: full-start / full-end;
  margin: 1rem;
}

.courses {
  grid-column: center-start / center-end;
}

.education {
  grid-column: center-start / center-end;
}
/*# sourceMappingURL=main.css.map */