.footer {
	background-color: $color-black;
	grid-column: full-start / full-end;

	margin-top: 10rem;
	padding: 3rem 5rem;

	@media only screen and (max-width: $bp-smallest) {
		padding: 6rem 3rem;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		width: 4rem;
		height: 4rem;
	}
}
