.header {
	display: flex;
	justify-content: space-around;
	&__name {
		display: flex;
		margin-bottom: 7rem;

		& h2 {
			align-self: center;
			margin-left: 4rem;
		}
	}

	&__content {
		width: 65%;

		p {
			width: 65%;
			@media only screen and (max-width: $bp-medium) {
				width: 75%;
			}

			@media only screen and (max-width: $bp-low-medium) {
				width: 90%;
			}

			@media only screen and (max-width: $bp-small) {
				width: 80%;
			}
		}
	}

	&__img {
		height: 40rem;
		padding: 1rem;
		border: 3px solid $color-secondary-green;
		border-radius: 50%;

		@media only screen and (max-width: $bp-small) {
			height: 45rem;
		}

		@media only screen and (max-width: $bp-smallest) {
			height: 55rem;
		}
	}
}
