.projects-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, 38rem);
	grid-gap: 5rem;

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: repeat(auto-fit, 39rem);
		grid-gap: 5rem;
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: repeat(2, 38rem);
		grid-gap: 10rem;
		justify-content: center;
	}

	@media only screen and (max-width: $bp-small) {
		grid-gap: 15rem;

		grid-template-columns: repeat(2, 57rem);
	}

	@media only screen and (max-width: $bp-smallest) {
		grid-gap: 12rem;

		grid-template-columns: repeat(2, 70rem);
	}
}
