.projects-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, 35rem);
	grid-gap: 8rem;

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: repeat(2, 38rem);
		grid-gap: 10rem;
		justify-content: center;
	}

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: repeat(2, 55rem);
	}

	@media only screen and (max-width: $bp-smallest) {
		grid-template-columns: repeat(2, 65rem);
	}
}
