.btn {
	text-decoration: none;
	padding: 2.5rem 1.5rem;
	font-size: 1.8rem;
	cursor: pointer;

	@media only screen and (max-width: $bp-small) {
		font-size: 2.75rem;
		font-weight: 500;
	}
	@media only screen and (max-width: $bp-smallest) {
		font-size: 3.25rem;
	}

	&__header:link,
	&__header:visited {
		padding: 1.2rem 15rem;
		border: 2px solid $color-secondary-green;
		border-radius: 10rem;
		background-color: $color-primary;
		color: rgba($color-grey-dark, 0.2);
		display: inline-block;
		transition: all 0.3s;
		position: relative;

		@media only screen and (max-width: $bp-medium) {
			padding: 1.2rem 10rem;
		}

		@media only screen and (max-width: $bp-small) {
			display: none;
		}

		&:focus {
			outline: none;
		}

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		}

		&:active {
			transform: translateY(-1px);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		}
	}

	&__project {
		grid-area: project;
		background-color: $color-secondary-green;
		clip-path: polygon(0% 100%, 0% 0%, 70% 50%);
		color: $color-white;
		transform-origin: left;
		transition: transform 0.2s;

		@media only screen and (max-width: $bp-small) {
			clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 40% 0%);
		}

		&:hover {
			transform: scaleX(1.1);
			background-color: $color-secondary-green-dark;
		}
	}

	&__github,
	&__course {
		background-color: $color-black;
		color: $color-secondary-red;
		text-align: right;
		transform-origin: right;
		transition: transform 0.2s;
	}

	&__github {
		grid-area: github;
		align-self: center;
		clip-path: polygon(100% 0%, 100% 100%, 30% 50%);

		@media only screen and (max-width: $bp-small) {
			clip-path: polygon(100% 100%, 100% 0%, 45% 0%, 65% 100%);
		}
	}

	&__course {
		grid-area: button;
		align-self: center;
		clip-path: polygon(100% 0%, 100% 100%, 45% 50%);
		margin-top: 3rem;

		@media only screen and (max-width: $bp-medium) {
			clip-path: polygon(100% 0%, 100% 100%, 15% 50%);
		}

		@media only screen and (max-width: $bp-small) {
			clip-path: polygon(100% 100%, 100% 0%, 50% 0%, 50% 100%);
		}
	}

	&:hover {
		transform: scaleX(1.1);
		background-color: $color-max-black;
	}
}
