.circle {
	width: 1.5rem;
	height: 1.5rem;
	border: 2.5px solid $color-secondary-green;
	border-radius: 50%;

	&--white {
		border: 2px solid $color-white;
	}

	&--header {
		width: 7rem;
		height: 7rem;
		position: absolute;
		border: 2px solid#E1E1E1;
		opacity: 0.3;
		top: 9.25rem;
		left: 12.5rem;
	}

	&--header-2 {
		width: 7rem;
		height: 7rem;
		position: absolute;
		border: 2px solid#E1E1E1;
		opacity: 0.3;
		top: 9.25rem;
		left: 37.5rem;
	}
}
