.course {
	display: grid;
	grid-template-columns: 25rem 2fr;

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: 27.5rem 2fr;
	}

	@media only screen and (max-width: $bp-low-medium) {
		grid-template-columns: minmax(50rem, 120rem) 1.5fr;
		grid-template-rows: 25rem;
	}

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: 150rem 3fr;
		grid-template-rows: 35rem;
	}

	&:not(:last-child) {
		margin-bottom: 5rem;
	}

	&__img {
		width: 25rem;

		@media only screen and (max-width: $bp-medium) {
			width: 27.5rem;
			height: 22rem;
		}
		@media only screen and (max-width: $bp-low-medium) {
			display: none;
		}
	}

	&__content {
		display: grid;
		border: 3px solid $color-white;
		border-radius: 3px;
		grid-template-rows: 6rem auto;
		grid-template-columns: 2.5fr 1.5fr;
		grid-template-areas:
			'heading  heading'
			'details  button';

		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: 3.5fr 1.5fr;
		}

		@media only screen and (max-width: $bp-low-medium) {
			grid-template-columns: 3.5fr 1.5fr;
			grid-template-rows: 7rem auto;
			border-radius: 10px;
		}

		@media only screen and (max-width: $bp-small) {
			grid-template-rows: 10rem auto;
		}

		.heading-4 {
			grid-area: heading;
			margin: 2rem 3rem;

			@media only screen and (max-width: $bp-low-medium) {
				margin: 2rem 4rem;
			}

			@media only screen and (max-width: $bp-small) {
				margin: 3rem 6rem;
			}
		}
	}

	&__details {
		grid-area: details;
		display: grid;
		grid-template-columns: 15% 2fr;
		align-items: center;

		& .circle {
			justify-self: center;
		}
	}

	&__btn {
		grid-area: button;
		//check _btn.scss
	}
}
