.nav {
	display: grid;
	grid-template-columns: 20% 30% repeat(5, 15rem);
	grid-template-rows: 12rem;
	justify-items: center;
	align-items: center;
	list-style: none;

	&__item {
		width: 7rem;
		height: 7rem;
		position: relative;
		perspective: 30rem;
		border: 2px solid $color-secondary-green;
		border-radius: 50%;
	}

	&__icon {
		position: absolute;
		height: 5rem;
		width: 5rem;
		padding: 1rem;
		@include centerContent;
	}
}
