.project {
	border: 0.5rem solid $color-secondary-green;
	border-radius: 5%;
	display: grid;
	grid-template-rows: 7rem 1fr 15rem 12rem;
	grid-gap: 3rem;

	@media only screen and (max-width: $bp-small) {
		grid-template-rows: 12rem 1fr 30rem 15rem;
		border: 0.7rem solid $color-secondary-green;
	}

	@media only screen and (max-width: $bp-smallest) {
		grid-template-rows: 12rem 1fr 40rem 15rem;
		border: 1rem solid $color-secondary-green;
	}

	grid-template-areas:
		'title title'
		'project project'
		'content content'
		'github github';

	// Title area

	h3 {
		grid-area: title;
		padding: 4rem 3rem;
	}

	// Project button _btn file

	// Content area

	&__grid {
		grid-area: content;
		display: grid;
		grid-template-columns: 10% minmax(20rem, 2fr);
		grid-row-gap: 1.5rem;
		margin-left: 1.5rem;
		align-items: center;

		@media only screen and (max-width: $bp-small) {
		}
	}
}

// Github button _btn file
