.project {
	border: 0.4rem solid $color-secondary-green;
	border-radius: 5%;
	display: grid;
	grid-template-rows: 8rem 1fr 12rem 12rem;
	grid-gap: 3rem;

	grid-template-areas:
		'title title'
		'project project'
		'content content'
		'github github';

	// Title area

	h3 {
		grid-area: title;
		padding: 4rem 3rem;
	}

	// Project button _btn file

	// Content area

	&__grid {
		grid-area: content;
		display: grid;
		grid-template-columns: 10% minmax(20rem, 2fr);
		grid-gap: 1.5rem;
		margin-left: 1.5rem;
		align-items: center;
	}
}

// Github button _btn file
