.project {
	border: 0.4rem solid $color-secondary-green;
	border-radius: 5%;
	display: grid;
	grid-template-rows: 10rem 1fr 12rem 10rem;
	grid-gap: 3rem;

	grid-template-areas:
		'title title'
		'project project'
		'content content'
		'github github';

	// Title area

	h3 {
		grid-area: title;
		padding: 5rem 3rem;
	}

	// Project area

	// Content area

	&__grid {
		grid-area: content;
		display: grid;
		grid-template-columns: 10% minmax(20rem, max-content);
		grid-gap: 1.5rem;
		margin-left: 2rem;

		& .circle {
			align-self: center;
		}

		& .p--small {
			align-self: center;
			width: 90%;
		}
	}

	// Github area
}
