.skill {
	width: 12rem;
	height: 12rem;
	position: relative;
	perspective: 20rem;
	border: 2px solid $color-secondary-yellow;
	border-radius: 100px;
	// Layout

	&__side {
		width: 12rem;
		height: 12rem;
		position: absolute;
		transition: all 0.8 ease;

		&--front {
		}

		&--back {
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotateY(180deg);
		}
	}

	&__icon {
		height: 7rem;
		width: 7rem;
		padding: 0.3rem;
		@include centerContent;
	}

	& .fa-star,
	& .fa-star-half-alt {
		height: 2rem;
		width: 2rem;
		color: transparent;
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}
}
